{% extends '@MauticCore/Default/content.html.twig' %}
{% block headerTitle %}{% trans %}plugin.scmailerses.header.index{% endtrans %}{% endblock %}

{% block content %}    
    <div class="panel panel-default bdr-t-wdh-0 mb-0">
        <div class="page-list">
            {{ block('listResults') }}
        </div>
    </div>
{% endblock %}

{% block listResults %}
<div class="table-responsive panel-collapse pull out page-list">
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th></th>
            <th class="visible-md visible-lg">{{ 'plugin.scmailerses.thead.accessKey'|trans }}</th>
            <th class="visible-md visible-lg">{{ 'plugin.scmailerses.thead.maxRate'|trans }}</th>
            <th class="visible-md visible-lg">{{ 'plugin.scmailerses.thead.templates'|trans }}</th>
            {{- include(
                '@MauticCore/Helper/tableheader.html.twig',
                {
                    'sessionVar' : 'setting',
                    'orderBy'    : 'c.id',
                    'text'       : 'mautic.core.id',
                    'default'    : 'true',
                    'class'      : 'visible-md visible-lg col-client-id',
                }
            ) -}}

        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    {{- include(
                        '@MauticCore/Helper/list_actions.html.twig',
                        {
                            'item'            : item,
                            'templateButtons' : {
                                'delete' : true,
                            },
                            'actionRoute' : 'plugin_scmailerses_delete',
                            'langVar'   : 'plugin.scmailerses',
                            'pull'      : 'left',
                        }
                    ) -}}
                </td>                
                </td>            
                <td>
                    {{ item.accessKey  }}
                </td>
                <td>
                   {{ item.maxSendRate  }}
                </td>
                <td class="visible-md visible-lg">
                    {% for template in item.templates %}
                        <p>{{ template }}</p>
                    {% endfor %}
                </td>
                <td class="visible-md visible-lg">{{ item.getId() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="panel-footer">
    </div>
</div>
{% endblock %}